<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Temperature Conversion</title>
    
</head>
<body>
<h1>Enter the temperature</h1>
<form action="submit" method="post">  
    <input type="number" name="temperature"><br>
    <input type="submit" name="Convert_to_Fahrenheit" value="Convert to Fahrenheit">
    <input type="submit" name="Convert_to_Celsius" value="Convert to Celsius">
</form>
<h2>The answer is {{calculated_value}}</h2>
</body>
</html>